<appSettings>

  <!-- Use your own values for these DocDB settings! -->
  <add key="endpointUrl" value="https://docujeet.documents.azure.com:443/"/>
  <add key="authorizationKey" value="8xvwgeqFb8iRBPtx0oK2MeMmhv9CZZrE94RuIKc54C0yrcCmcHA7IxJ1z+pkCj52dUE0FtKL5UKSGNMkmXvVwg=="/>
  <add key="DatabaseName" value="CodeCampDemo" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
